.paragraph{
    font-size: 30px;
}
body{
    background-image: url('https://bit.ly/2Hp59xP');
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: white;
}
.a{
    font-size: 30px;
}
.ghanian{
    font-size: 30px;
}